// Breack points
$mobile: 400px;
$tablet: 700px;
$small-screen: 1000px;
$medium-screen: 1200px;
$large-screen: 1300px;
$xlarge-screen: 1700px;

// Color
$white: #ffffff;
$brown: #4F3428;
$brown2: #C0B298;
$pink: #F6A2A7;